<div id="<%= dom_id team %>" class="text-center">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= team.location %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= team.year %>
  </p>

  <p>
    <strong>League:</strong>
    <%= team.league.name %>
  </p>

  <% if team.logo.attached? %>
    <p>
      <strong>Logo:</strong>
      <%= image_tag team.logo %>
    </p>
  <% end %>
</div>
