<div id="<%= dom_id @team %>" class="text-center">
  <h1>Team Details</h1>

  <p>
    <strong>Name:</strong>
    <%= @team.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @team.city %>
  </p>

  <p>
    <strong>League:</strong>
    <%= @team.league.name %>
  </p>

  <% if @team.logo.attached? %>
    <p>
      <strong>Logo:</strong><br>
      <%= image_tag @team.logo, style: "max-width: 200px;" %>
    </p>
  <% end %>

  <div class="btn-group mt-3" role="group">
    <%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-primary' %>
    <%= link_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <%= link_to 'Back to Teams', teams_path, class: 'btn btn-secondary' %>
    <%= link_to 'Show on Map', '#', id: 'show-on-map', class: 'btn btn-info' %>
  </div>
</div>
<br>
<!-- Kontener mapy z poprawnymi danymi -->
<div id="map" style="height: 500px; width: 100%; display: none;"
     data-lat="<%= @team.lat %>" 
     data-lng="<%= @team.lng %>" 
     data-logo="<%= url_for(@team.logo) %>"
     data-name="<%= @team.name %>" 
     data-city="<%= @team.city %>">
</div>
