<div class="container text-center">
  <nav class="mb-4">
    <%= link_to 'New League', new_league_path, class: 'btn btn-primary' %>
  </nav>

  <h1>Leagues</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Logo</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @leagues.each do |league| %>
        <tr>
          <td><%= league.name %></td>
          <td><%= league.country %></td>
          <td>
            <% if league.logo.attached? %>
              <%= image_tag league.logo, style: "max-width: 100px;" %>
            <% else %>
              No logo
            <% end %>
          </td>
          <td>
            <%= link_to 'Show', league, class: 'btn btn-secondary' %>
            <%= link_to 'Edit', edit_league_path(league), class: 'btn btn-primary' %>
            <%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
