<div id="league-show" class="center-content">
  <p style="color: green"><%= notice %></p>

  <div id="<%= dom_id @league %>">
    <p>
      <strong>Name:</strong>
      <%= @league.name %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @league.country %>
    </p>

    <% if @league.logo.attached? %>
    <p>
      <strong>Logo:</strong><br>
      <%= image_tag url_for(@league.logo), style: "max-width: 200px;" %>
    </p>
    <% end %>

    <div class="btn-group" role="group">
      <%= link_to "Edit", edit_league_path(@league), class: "btn btn-primary" %>
      <%= link_to "Destroy", @league, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <%= link_to "Back to Leagues", leagues_path, class: "btn btn-secondary" %>
    </div>
  </div>
  <br>
  <h2>Teams in this League</h2>
  <% if @league.teams.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Country</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @league.teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <td><%= team.location %></td>
            <% if team.logo.attached? %>
            <td>
              <strong>Logo:</strong><br>
              <%= image_tag team.logo, style: "max-width: 200px;" %>
            </td>
            <% end %>
            <td>
              <%= link_to "Show", team_path(team), class: "btn btn-sm btn-secondary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No teams in this league.</p>
  <% end %>
</div>
